body{
    background-color: #B0D9CD;
}

.default {
    display:flex;
    margin:auto;
    font-family: 'Google Sans', Arial, Helvetica, sans-serif;
    color:#305157;
   font-weight:700;
}

#calc-wrap {
    width:400px;
    height:600px;
    flex-direction: column;
    margin-top: 100px;
    border: solid rgb(133, 133, 133) 1px;
    border-radius: 20px;
    background-color: #FCDCC5;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1), 1px 5px 15px rgba(0,0,0,0.1);
}

#display{
    display: flex;
    padding: 0% 5%;
    height:100px;
    line-height: 90px;
    width:80%;
    margin:20px;
    text-align: right;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 30px;
    border:solid rgb(134, 134, 134) 1px;
    border-radius: 10px;;
    background-color: #c3f0e2;
    color:#6b6b6b;
    font-weight: 800;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    
}

#button-wrap{
    display:grid;
    height:80%;;
    width:90%;
    margin-bottom: 20px;
    grid-template-rows: repeat(5,minmax(0,1fr));
    grid-template-columns: repeat(4,minmax(0,1fr));
    align-items: center;
    justify-items: center;
    column-gap: 6px;
    row-gap: 6px;
}

.button {
    display: flex;
    height:100%;
    width: 100%;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    border:none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2), 3px 3px 10px rgba(0,0,0,0.15) ;
}

.operator {
    background-color: #E29C92;
}

#clear {
    background-color: #E29C92;
    
}

#delete {
    background-color: #E29C92;
    
}

#equals {
    grid-area:5/3/6/5;
    border-radius: 20px;
    background-color: #63AAB5;
    font-weight:1000;
    font-size: 35px;
    color:#c3f0e2;
    width: 95%;
    height:95%;
}

.number {
    background-color: #F6B3B9;
}